<input type="text" ng-model="search" class="search-query" placeholder="Search">
<div>
    <button type="submit" ng-click="getUsers()">Get Users</button>
</div>

<div ng-repeat="user in users | filter:search | orderBy:user.firstName">
    <div ng-include="'/partials/user.html'"></div>
</div>

<br/>
<br/>

<h4>Create User:</h4>
<input type="text" placeholder="First Name" ng-model="newUser.firstName">
<input type="text" placeholder="Last Name" ng-model="newUser.lastName">
<input type="submit" value="Create User" ng-click="createUser()">
<br/>
<br/>


